

.navbar-light .navbar-nav .nav-link {
  color: #204f87;
    font-size: 18px;
    font-weight: 600;
}
 .navbar-light .navbar-nav .nav-link:hover {
    color:#204f87;}


    .banner{

        background-image: url(../images/banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        

    }
    .banner h1{
        color: #fff;
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 700;
         font-family: 'Montserrat', sans-serif;;
        
    }
    .hg{
        min-height: 90vh;
        align-items: center;
    }
    .who_we_are{

    }

 .who_we_are span{
     display: inline-block;
     width: 0px;
     height: 3px;
     background-color: rgb(247, 6, 6);
transition: 4s all ease-in-out;


 }

 .who_we_are h1{
     color: #204f87;
     text-transform: uppercase;
     font-size: 35px;
     font-weight: 600;
     font-family: 'Montserrat', sans-serif;

 }

 .who_we_are p{
     color: #b0b0b1;

     font-family: 'Open Sans', sans-serif
 }

.who_we_are:hover span{
    width:50px;
}
.icon{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    font-size: 25px;
    animation: updown 5s linear infinite;
}
@keyframes updown{
    0%{
        top: 80%;

    }
    100%{
        top: 85%;
    }

}
.what_we_do{
    background-color: #f7f8f8

}

.heading{

}
.heading span{
    display: inline-block;
    height: 3px;
    width: 0px;
    background-color: rgb(247, 6, 6);

}
.heading h1{
    color: #2b2f85;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

.what_we_do :hover.heading span{
    width: 50px;
    transition: 4s ease-in-out;
}
.img{
    position: relative;

}
.img::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0%;
    width: 100%;
    transition: .4s all ease-in-out;
    
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#392ad6+2,392ad6+100&0+1,1+85 */
background: -moz-linear-gradient(top,  rgba(57,42,214,0) 1%, rgba(57,42,214,0.01) 2%, rgba(57,42,214,1) 85%, rgba(57,42,214,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(57,42,214,0) 1%,rgba(57,42,214,0.01) 2%,rgba(57,42,214,1) 85%,rgba(57,42,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(57,42,214,0) 1%,rgba(57,42,214,0.01) 2%,rgba(57,42,214,1) 85%,rgba(57,42,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00392ad6', endColorstr='#392ad6',GradientType=0 ); /* IE6-9 */


}
.img:hover::before{
    height: 100%;
   
}

.img h3{
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50% -50%);
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
opacity: 0;
transition: 4s ease-in-out;


}

.img i{
    position: absolute;
    color: #fff;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    font-size: 35px;
    opacity: 0;
    transition: 4s ease-in-out;
}

.img:hover h3{
    opacity: 1;
    
top: 50%;

}

.img:hover i{
    opacity: 1;
   
}


